body {
    font-family: "Myriad Pro", sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/*HEADER*/
.header {
    padding-top: 61px;
}

.header-logo {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 45px;
}

.header-logo-text {
    font-size: 80px;
    font-weight: 400;
    color: #000000;
}

.header-logo-text-colored {
    font-size: 80px;
    color: #00cbff;
}

.header-menu {
    text-align: center;
    background-color: #35444f;
}

.header-menu-item {
    display: inline-block;
}


.header-menu-link {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 24px;
    color: #ffffff;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 41px;
    padding-right: 41px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.header-menu-link:hover {
    background-color: #222f3a;
    border-color: white;
}

.main {
    padding: 50px 0;
}

.sidebar {
    display: inline-block;
    border: 1px solid #29424e;
    vertical-align: top;
}

.sidebar-menu-item {
    background-color: #ffffff;
}

.sidebar-menu-item:hover {
    background-color: #dbdbdb;
}

.sidebar-menu-item-link {
    display: block;
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    padding-left: 44px;
    padding-right: 112px;
    padding-top: 28px;
    padding-bottom: 28px;
    transition: .5s;
}

.sidebar-menu-item-link:hover {
    color: #000000;
    transform: translateX(26px);

}
/*        MAIN*/
.main-content-article {
    display: inline-block;
    width: 885px;
    margin-left: 46px;
}

.main-content-article-image {
    padding: 75px 270px;
    border: 1px solid #29424e;
}

.img-fluid {
    transition: 0.5s;
}

.img-fluid:hover {
    transform: scale(1.2);
}

.main-content-article-text {
    color: #2c2c2c;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 40px;
}

/*  FOOTER*/
.footer {
    padding-top: 23px;
    padding-bottom: 23px;
}

.footer-content {
    background-color: #b4b7ba;
    padding: 20px 40px;
}

.footer-menu {
    display: inline-block;
}

.footer-menu-item {
    display: inline-block;
    margin-right: 10px;
}

.footer-menu-link {
    text-decoration: none;
    color: #172737;
    font-size: 28px;
}
.footer-menu-link:hover {
    color: #0082a9;
    border-bottom: 1px solid #0082a9;
}


.footer-copyright-item {
    display: inline-block;
    margin-left: 180px;
}

.footer-copyright-link {
    color: #010101;
    font-size: 24px;
}